@import url(https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Domine:ital,wght@0,400..700;1,400..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap);

:root {
    --text-white: rgb(222, 222, 222);
    --text-grey: rgb(80, 80, 80);
    --green: rgb(0, 148, 93);
    --dark-green: rgb(0, 77, 53);
    --blue: rgb(0, 102, 208);
    --bg-grey: rgb(28, 28, 28);
    --bg-dark-grey: rgb(15, 15, 15);
    --bg-purple: rgb(45, 31, 86);
    --p-highlight: rgb(0, 99, 61);
    --bg-header: rgba(0, 0, 0), 0.2;
}

html {
    height: 100%;
}

body {
    font-family: 'Mona Sans', monospace;
    background-image: linear-gradient(-20deg, var(--blue) 0, var(--bg-purple) 30%, var(--bg-purple) 49.94%, white 49.94%, white 50.06%, var(--p-highlight) 50.06%, var(--p-highlight) 70%, var(--blue) 100%);
    margin: 0;
}

main {
    align-items: center;
    background-color: var(--bg-grey);
    padding: 0 2rem;
    margin: 4rem 15% 1.5rem;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0 0 0 0.05rem white, 0 0 20px 5px black inset;
}

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 3px;
    width: 100%;
    border-radius: 0 0 30px 30px;
}

nav {

    ul {
        display: flex;
        list-style-type: none;
        width: fit-content;
        padding: 0;
        margin: 0.5rem auto;
        gap: 2.5rem;
    }

    li {
        font-size: 1.6rem;

        a {
            color: white;
            text-decoration-style: solid;
            text-decoration-color: yellow;
        }
    } 
}

h1, h2, h3 {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

p {
    color: var(--text-white);
    font-size: 140%;
    font-weight: 420;
    font-stretch: 107%;
}

h1 mark {
    color: white;
    border-radius: 6px;
    padding: 0.22rem 0.14rem 0;
}

p mark {
    padding: 0 0.14rem 0.04rem;
    color: white;
    background-color: var(--p-highlight);
}

p a {
    color: inherit;
    text-decoration: none;
}

.shadow-box {
    width: 10px;
    margin: 1.5rem auto 1.5rem;
    border-radius: 7px;
}

.return-home {
    display: block;
    color: rgb(128, 60, 255);
    text-align: center;
    text-decoration: none;
    margin-top: 0.3rem;
}

.current-nav-site {
    color: rgb(47, 47, 47);
    text-decoration: none;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    font-family: "Fira Code", monospace;
    font-stretch: 110%;
    text-align: center;
    color: var(--text-grey);
    background-color: var(--bg-dark-grey);
    padding: 1rem 0 0.6rem;
    border-top: 0.1rem solid white;
    margin: auto 0 0;

    a {
    color: inherit;
    }
}