@import url(https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Domine:ital,wght@0,400..700;1,400..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap);

body {
    font-family: 'Mona Sans', monospace;
    background-color: rgb(28, 28, 28);
    color: rgb(222, 222, 222);
    text-align: center;
    padding-top: 10px;
}

h1, h2, h3 {
    font-family: 'Domine', serif;
    font-weight: 700;
}

p {
    font-size: 140%;
    font-weight: 500;
    font-stretch: 107%;
}

h1 mark {
    color: white;
    border-radius: 6px;
    padding: 0.22em 0.14em 0.07em
}

p mark {
    padding: 0 0.14em 0.04em;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 99, 61);
}

p a {
    padding: 0 0.14em 0.04em;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 0 0.1em rgb(255, 255, 255);
    border-radius: 5px;
}

.shadow-box {
    width: 10px;
    margin: 1.5em auto 1.5em;
    border-radius: 7px;
}

hr {
    height: 0.1em;
    width: 10em;
    border-width: 0;
    background-color: rgb(201, 201, 201);
    border-radius: 0.05em;
    margin-bottom: 1em;
}

.return-home {
    display:inline-block;
    color:rgb(128, 60, 255);
    text-decoration: none;
    margin-top: 0.3em;
}

footer {
    font-family: "Fira Code", monospace;
    font-stretch:110%;
    color: rgb(126, 126, 126);
}

footer a {
    color: inherit;
}